<app-header></app-header>   <!-- Va a buscar el "xxx.ts" que tenga el selector: 'app-header'
                            en nuestro caso es el "header.component.ts"!-->
<section class="ae-container-fluid rk-main">
  <!--<app-portafolio></app-portafolio>-->
  <!--<app-about></app-about>-->
  <!--<app-item></app-item>-->
  <router-outlet></router-outlet>
</section>

<app-footer></app-footer>   <!-- Va a buscar el "xxx.ts" que tenga el selector: 'app-footer'
                            en nuestro caso es el "footer.component.ts"!-->
